@model Bill_Portal.ViewModels.NotificationEditViewModel

@{
    ViewData["Title"] = "EditNotification";
}

<h1>Edit Notification</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditNotification" asp-controller="CRUD" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="notification_ExistingPhotoPath" />
            <input type="hidden" asp-for="notification_id" />

            <div class="form-group">
                <label asp-for="notification_serial" class="control-label"></label>
                <input asp-for="notification_serial" class="form-control" />
                <span asp-validation-for="notification_serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notification_title" class="control-label"></label>
                <input asp-for="notification_title" class="form-control" />
                <span asp-validation-for="notification_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <input id=" ImgUpload" onchange="ImgPre(this)" asp-for="notification_image" class="form-control"
                       style="cursor:pointer" accept="image/jpg, image/png, image/jpeg" />
            </div>
            @*<div class="form-group">
                <label asp-for="notification_document" class="control-label"></label>
                <input asp-for="notification_document" class="form-control" />
                <span asp-validation-for="notification_document" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" value="@Model.date.ToString("yyyy-MM-dd")/>
                <span asp-validation-for="date" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="@Model.notification_ExistingPhotoPath" />
    </div>
    <div class="shadow col-8">
        <p>
            <img id="ImgPreview" />
        </p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <!-- Datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        function ImgPre(input) {
            if (input.files[0]) {
                var uploadimg = new FileReader();
                uploadimg.onload = function (displayimg) {
                    $("#ImgPreview").attr('src', displayimg.target.result);
                }
                uploadimg.readAsDataURL(input.files[0]);
            }
        }

        $(function () {
            $('.datepicker').datepicker({
                language: "es",
                autoclose: true,
                format: "dd/mm/yyyy"
            });
        });

    </script>

}
