@model Bill_Portal.ViewModels.NotificationViewModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <!-- datepicker styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
</head>
<div class="bg-info text-white col-12 shadow">
    <h2>Add Notification</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4 shadow">
        <form asp-action="CreateNotification" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="notification_image" class="form-label"></label>
                <input id=" ImgUpload" onchange="ImgPre(this)" asp-for="notification_image" class="form-control"
                       style="cursor:pointer" accept="image/jpg, image/png, image/jpeg" />
            </div>
            @*

            <div class="form-group">
            <label asp-for="notification_image" class="control-label"></label>
            <div class="custom-file">
            <input id=" ImgUpload" onchange="ImgPre(this)" asp-for="notification_image" class="custom-file-input" style="cursor:pointer" accept="image/jpg, image/png, image/jpeg">
            <label class="custom-file-label" for="customFile"></label>
            </div>
            <span asp-validation-for="notification_image" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="notification_serial" class="control-label"></label>
                <input asp-for="notification_serial" class="form-control" />
                <span asp-validation-for="notification_serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notification_title" class="control-label"></label>
                <input asp-for="notification_title" class="form-control" />
                <span asp-validation-for="notification_title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea asp-for="description" class="form-control"></textarea>

                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            @*  <div class="form-group date" >
            <label asp-for="date" class="control-label"></label>
            @*<div class="input-group">
            <input type="date" asp-format="{0:yyyy-MM-dd}" id="dateInput" asp-for="date" class="form-control" />
            @*</div>
            <span asp-validation-for="date" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <div class="datepicker date input-group">
                    <input asp-for="date" type="text" placeholder="Choose Date" class="form-control" id="fecha1">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        <span asp-validation-for="date" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group ">
                <a class="btn btn-light " asp-action="notifications_list"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to List</a>

                <input type="submit" value="Add Notification" class="btn btn-info float-right" />

            </div>
        </form>

    </div>
    <div class="shadow col-8">
        <p>
            <img id="ImgPreview" />
        </p>
    </div>
</div>



@section Scripts{
    <!-- Datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        function ImgPre(input) {
            if (input.files[0]) {
                var uploadimg = new FileReader();
                uploadimg.onload = function (displayimg) {
                    $("#ImgPreview").attr('src', displayimg.target.result);
                }
                uploadimg.readAsDataURL(input.files[0]);
            }
        }

        $(function () {
            $('.datepicker').datepicker({
                language: "es",
                autoclose: true,
                format: "dd/mm/yyyy"
            });
        });

    </script>

}
