@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.SignInManager<BillUsers> _signInManager

@if(_signInManager.IsSignedIn(User))
{
    @*<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-labelledby="navbarDropdown">Welcome @(User.FindFirst("UserFullName").Value)</a>
        <div class="dropdown-menue" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Logout" asp-controller="Accounts">Logout</a>
        </div>
    </li>
*@
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <span class="mr-2 d-lg-inline text-600 small" style="font-weight: bold; font-size: 15px; color: #fff;">
                <i class="fa fa-cog "></i>&nbsp; Welcome @(User.FindFirst("UserFullName").Value) <i class="fa fa-caret-down" style="color: #fff"></i>
            </span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="userDropdown">
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Accounts">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Change Password
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
        </div>
    </li>

}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-light" asp-action="SignInUser" asp-controller="Accounts" asp-route-returnUrl="@Context.Request.Path">Login</a>

        <a class="btn btn-light" asp-action="SignUpUser" asp-controller="Accounts" asp-route-returnUrl="@Context.Request.Path">Sign Up</a>
    </li>
}





<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Are you sure to logout?</div>
            <div class="modal-footer">
                @* <button class="btn btn-dark" type="button" data-dismiss="modal">No</button>*@
                <a class="btn btn-outline-danger" asp-action="Logout" asp-controller="Accounts">Logout</a>
            </div>
        </div>
    </div>
</div>
