
@{
    ViewBag.Title = "AccessDenied";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have persmission to view this resource</h6>
    <img src="~/images/noaccess.png" style="height:280px; width:300px" />
    
</div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />