@model Bill_Portal.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Change Password</h1>
    
<hr />
<div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            @if(ViewBag.IsSuccess==true){
                <div class="alert alert-success" role="alert">
                    Password Changed Successfully.
                </div>
            }
            <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>&nbsp;<span asp-validation-for="CurrentPassword" class="font-weight-bold text-danger"></span>
                <input asp-for="CurrentPassword" class="form-control" />
                
            </div>
            <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>&nbsp;<span asp-validation-for="NewPassword" class="font-weight-bold text-danger"></span>
                <input asp-for="NewPassword" class="form-control" />
                
            </div>
            <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>&nbsp;<span asp-validation-for="ConfirmPassword" class="font-weight-bold text-danger"></span>
                <input asp-for="ConfirmPassword" class="form-control" />
                
            </div>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-info float-right" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
